html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.front-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-position: center;
    background-size: 140%;
    background-repeat: no-repeat;
    background-color: rgb(52, 14, 156);
}

.front-container {
    display: flex;
    flex-direction: row;
}

.front-button {
    margin: 1rem 2rem;
    text-wrap: nowrap;
    cursor: pointer;

    a {
        font-size: 3rem;
        color: white;
        text-decoration: none; 
    }

    h3 {
        font-size: 3rem;
    }
}


.header-message {
    margin: 10px 0;
    text-wrap: nowrap;
    font-size: 6rem;
    color: white;
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    background-color: rgb(52, 14, 156);
}

@media (max-width: 700px) {
    .front-section {
        background-size: 70dvh;
    }

    .header-message {
        font-size: 2.5rem;
    }

    .front-button {
        margin: 0.5rem 1rem;

        a {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 701px) and (max-width: 1120px) {
    .front-section {
        background-size: 70dvh;
    }

    .header-message {
        font-size: 2.5rem;
    }

    .front-button {
        margin: 0.5rem 1rem;

        a {
            font-size: 1.5rem;
        }
    }
}